@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 400;
	src: url(font/SF-Pro-Display-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 100;
	src: url(font/SF-Pro-Display-Ultralight.otf) format('opentype');
}
html,body{
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	color: white;
	background: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.box{
	margin: auto 0;
	height: 270px;
	width: 100%;
	text-align: center;
}
.value{
	font-family: 'San Francisco';
	font-weight: 100;
	font-size: 220px;
	letter-spacing: 14px;
}
.value:after{
	content: "%";
	margin-left: 30px;
}
.tip{
	font-family: 'San Francisco';
	font-weight: 400;
	font-size: 23px;
	margin-top: -8px;
}